<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Google search</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="google_favicon.png"/>
</head>
<body>

        <div class="flex-container" id="header">

            <div>
                <a href="https://mail.google.com/mail/?tab=wm">Gmail</a>
            </div>

            <div>
                <a href="https://www.google.pl/imghp?hl=pl&tab=wi">Grafika</a>
            </div>

            <div>
                <a href="https://www.google.pl/intl/pl/about/products?tab=wh">
                    <img src="apps.png" alt="Aplikacje Google" style="width:30px;height:30px;"/>
                </a>
            </div>

            <div>
                <img src="acc.png" alt="Konto Google" style="width:32px;height:32px;"/>
            </div>

        </div>
        
    <div class="flex-container" id="google">
        <div>
                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google" />     
        </div>
        <div>
        <div class="main">
            <div id="inp">
             <div id="box_input">
                <div id="search">
                    <img src="search.png">
                </div>

                <input id="text_input" v-model="inputContent" />
                <div id="micro">
                    <img src="keyboard.png">
                    <img src="micro.png" style="padding-left:6px"></i>
                
                </div>
            </div>
                <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
                
            </div>       

            <div class="flex-container" id="buttons">
                    <div>
                        <button class="mdc-button" v-if="!inputContent">
                            <span class="mdc-button" style="color: blue;">Szukaj w Google</span>
                        </button>
                    </div>
            
                    <div>
                        <button class="mdc-button" v-if="!inputContent">
                                <span class="mdc-button" style="color: blue;">Szczęśliwy traf</span>
                        </button>
            
                        </div>
                    </div>
            </div>
        <div class="grid-container" id="footer">

            <div class="item1">
                <a>Polska</a>
            </div>

            <div class="item21">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQkdQCCAw&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fpl_pl%2Fads%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&usg=AOvVaw07LxD_MJO4tNv3OJCct8ld">Reklamuj się</a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQktQCCA0&url=https%3A%2F%2Fwww.google.com%2Fservices%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&usg=AOvVaw2SJ4zwRVXKyZr53qG9dm4K">Dla firm</a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQkNQCCA4&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fpl_pl%2Fabout%2F%3Futm_source%3Dgoogle-PL%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&usg=AOvVaw0ndTHCIbKgMwcc-qpcFd8T">O nas</a>
            </div>
            <div class="item22">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQ8awCCAg&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fpl_pl%2Fpolicies%2Fprivacy%2F%3Ffg%3D1&usg=AOvVaw2X1jkWAF_N_ZwelIfGC_Rs">Prywatność</a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQ8qwCCAk&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fpl_pl%2Fpolicies%2Fterms%2F%3Ffg%3D1&usg=AOvVaw3Z6qyJ25a48W2jGFTAqXSN">Warunki</a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwiC4YuJt-PgAhXHlosKHQ0kBOIQzq0CCAo&url=https%3A%2F%2Fwww.google.com%2Fpreferences%3Fhl%3Dpl&usg=AOvVaw2T-mSeZkn9Sz9VUf893vSQ">Ustawienia</a>
            </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="animals.js" type="text/javascript"></script>

</body>
</html>